@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,900);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
/* cursiva */
@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);
@import url(https://fonts.googleapis.com/css?family=Courgette);
@import url(https://fonts.googleapis.com/css?family=Amita);
@import url(https://fonts.googleapis.com/css?family=Eagle+Lake);
/* valores base de html y body */

/* estop es necesario para presentar los slides a pantalla completa */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	line-height: 1.5em
}
 /* estilos de los slides */
.main {
    width: 100%;
    height: 100%;
}
.centrar {
	display: flex;
	min-height: 100%;
	min-width: 100%;
	align-items: center;
  justify-content: center;
}
.t-centrado {
    text-align: center;
}
.img-responsive {
	margin: 0 auto;
}
.main-info {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4%;
}
.main0 {
    padding-top: 7%;
    padding-bottom: 7%;
}
.modal {
top: 30%;

}
.main0-icon {
    margin-top: 15px;
    margin-bottom: 15px;
}
.main1 {
    padding: 10% 0;
    background-image: url('../images/full1.jpg');
    background-size: cover;
    background-position: center; 
}
@media (max-width: 800px) {
    .main-info {
        height: 70vh;
    }
}
.main2 {
    background-image: url('../images/full2.jpg');
    background-size: cover;
    background-position: center; 
}
.main3 {
    background-image: url('../images/full3.jpg');
    background-size: cover;
    background-position: center; 
}
.main4 {
    background-image: url('../images/full4.jpg');
    background-size: cover;
    background-position: center; 
}
.main6 {
    background: #231f20;
}
.bg-balnco {
	background: #fff;
}
.bg-gris {
    background: #ccc;
}
.menu-desplazamiento {
	position: fixed;
	right: 40px;
	top: 50%;
}
.menu-item {
	list-style: none;
}
/* en espera de eliminar 
.i-localizar {
	height: 5rem;
	margin-top: 5rem;

}
.icon-img {
	width: 1.5rem;
	height: 1.5rem;
} 

*/

/* colores */
.t-blanco {
	color: #fff;
}
.active {
	background: #ccc;
}

/* fuentes */

.cursiva {
font-family: 'Amita', cursive;
}
.cursiva2 {
font-family: 'Eagle Lake', cursive;
}

@media (min-width: 800px) { 
    h1 {
    font-size: 4rem;
    font-weight: bold;
    }
    h2 {
    font-size: 3.55rem;
    font-weight: 700;
    }
    h3 {
    font-size: 2.8rem;
    font-weight: bold;
    }
    h4 {
    font-size: 2.3rem;
    font-weight: bold;
    }
    h5 {
    font-size: 2.1rem;
    font-weight: bold;   
    }
    h6 {
    font-size: 1.9rem;
        font-weight: bold;
    }
}
/* revisar por completo la relacion de tamaños 
@media (max-width: 800px) { 
    h1 {
    font-size: 8rem;
        font-weight: bold;
        
    }
    h2 {
    font-size: 7rem;
        font-weight: bold;
        
    }
    h3 {
    font-size: 6rem;
        font-weight: bold;
        
    }
    h4 {
    font-size: 5rem;
        font-weight: bold;
        
    }
    h5 {
    font-size: 4rem;
        font-weight: bold;
        
    }
    h6 {
    font-size: 3rem;
        font-weight: bold;
    }
    body {
    font-size: 2.6rem;
    }
}
*/
/* helpers */

.manita {
    cursor:pointer;
}