body {
      font: 400 15px Lato, sans-serif;
      line-height: 1;
      color: #818181;}
html, body {
  height: 100%;
  margin: 0;
}

h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;}
h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;}
.main a {
	color: #fff;
	text-decoration: none;}  
.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;}
.navbar-custom .navbar-brand {
    font-weight: 700;}
.navbar-custom .navbar-brand:focus {
    outline: 0;}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;}

.navbar-custom a {
    color: #777;
		font-weight: 900;}
.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;}
.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;}
.navbar-custom .nav li.active {
    outline: 0;}
.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);}
.navbar-custom .nav li.active a:hover {
    color: #fff;}
@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
				color: #fff;
    }
    .intro {
        height: 100%;
        padding: 0;
    }}
.main {
      color: #fff;
      padding: 150px 25px;
      font-family: Montserrat, sans-serif;
			min-height: 100%;
}
.sec {
	min-height: 70%;
}
.bg-grey {
      background-color: #E3E3E2;
			color: #1E130F}
.bg-blue {
      background-color: #65BFD7;
			color: #1E130F;}
.logo-small {
      color: #DEE4E3;
      font-size: 50px;}
.logo {
      color: #DEE4E3;
      font-size: 200px;}
.thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;}
.thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;}
.carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #DEE4E3;}
.carousel-indicators li {
      border-color: #DEE4E3;}
.carousel-indicators li.active {
      background-color: #DEE4E3;}
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }
  .panel {
      border: 1px solid #DEE4E3; 
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #DEE4E3;
      background-color: #fff !important;
      color: #DEE4E3;
  }
  .panel-heading {
      color: #fff !important;
      background-color: #DEE4E3 !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #DEE4E3;
      color: #fff;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #DEE4E3;
  }
  /* About */
  #about {
      background-color: #65BFD7;
  }
  a.about-item {
      color: #fff;
  }
  h3.about-item {
      color: #000;
  }
  /* Productos */
  #productos {
      background-color: #EF993D;
  }
  .circulo {
     width: 150px;
     height: 150px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #F5B53C;
     }
  @keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }	
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
	.fondo1 {
		background: url(../images/fondo1.png) no-repeat center bottom; 
	}
	.fondo2 {
		background: url(../images/fondo2.png) no-repeat center top; 
	}
@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }
@media screen and (max-width: 749px) {
    .main {
        padding: 0px 50px;
        font-weight: 750;
    }
    .main h1 {
        margin-top: 200px;
        font-size: 40px;
        font-weight: 800;
    }
		.sec {
        padding: 0px 50px;
        font-weight: 750;
				
    }
    .sec h1 {
        margin-top: 50px;
        font-size: 40px;
        font-weight: 800;
    }
		.fondo1, .fondo2 {
			visibility: hidden;
		}
		.icon-circle {
			width: 40px;
			height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #009CAD;
		}
		.icon-img {
			width: 25px;
			height: 25px;
		}
		.t-12 {
			font-size: 20px;
		}
		.t-10 {
			font-size: 18px;
		}
		.t-6 {
			font-size: 10px;
		}
}
@media screen and (min-width: 750px) {
    .main {
        padding: 0px 50px;
        font-weight: 750;
    }
    .main h1 {
        margin-top: 200px;
        font-size: 40px;
        font-weight: 800;
    }
		.sec {
        padding: 0px 50px;
        font-weight: 750;
				
    }
    .sec h1 {
        margin-top: 50px;
        font-size: 40px;
        font-weight: 800;
    }
		.fondo1 {
			height: 540px; 
			background-size: 280px;
		}
		.fondo2 {
			height: 500px; 
			background-size: 280px;
		}
		.icon-circle {
			width: 40px;
			height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #009CAD;
		}
		.icon-img {
			width: 25px;
			height: 25px;
		}
		.t-12 {
			font-size: 20px;
		}
		.t-10 {
			font-size: 18px;
		}
		.t-6 {
			font-size: 10px;
		}
}
@media screen and (min-width: 1200px) {
    .main {
        padding: 0px 100px;
        font-size: 15px;
        font-weight: 750;
    }
    .main h1 {
        margin-top: 300px;
        font-size: 60px;
        font-weight: 800;
    }
		.sec {
        padding: 0px 100px;
        font-size: 15px;
        font-weight: 750;
				
    }
    .sec h1 {
        margin-top: 50px;
        font-size: 60px;
        font-weight: 800;
    }
		.fondo1 {
			height: 740px;
		}
		.fondo2 {
			height: 534px;
		}
		.icon-circle {
			width: 65px;
			height: 65px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #009CAD;
		}
		.icon-img {
			width: 35px;
			height: 35px;
		}
		.t-12 {
			font-size: 25px;
		}
		.t-10 {
			font-size: 22px;
		}
		.t-6 {
			font-size: 14px;
		}
}
@media screen and (min-width: 1400px) {
     .main {
        padding: 0px 100px;
        font-size: 15px;
        font-weight: 750;
    }
    .main h1 {
        margin-top: 300px;
        font-size: 60px;
        font-weight: 800;
    }
		.sec {
        padding: 0px 100px;
        font-size: 15px;
        font-weight: 750;
				
    }
    .sec h1 {
        margin-top: 150px;
        font-size: 60px;
        font-weight: 800;
    }
		.fondo1 {
			height: 950px; 
			background-size: 500px;
		}
		.fondo2 {
			height: 750px;
			background-size: 500px; 
		}
		.icon-circle {
			width: 85px;
			height: 85px;
			margin: 0px 15px;
			background-color: #009CAD;
		}
		.icon-img {
			width: 45px;
			height: 45px;
		}
		.t-12 {
			font-size: 32px;
		}
		.t-10 {
			font-size: 26px;
		}
		.t-6 {
			font-size: 20px;
		}
}
@media screen and (min-width: 1700px) {
     .main {

        padding: 0px 150px;
        font-size: 15px;
        font-weight: 750;
    }
    .main h1 {
        margin-top: 500px;
        font-size: 70px;
        font-weight: 800;
    }
		.sec {
        padding: 0px 150px;
        font-size: 15px;
        font-weight: 750;	
    }
    .sec h1 {
        margin-top: 150px;
        font-size: 60px;
        font-weight: 800;
    }
		.fondo1 {
			height: 1100px;
			background-size: 600px;
		}
		.fondo2 {
			height: 950px;
			background-size: 600px; 
		}
		.icon-circle {
			width: 95px;
			height: 95px;
			margin: 0px 15px;
			background-color: #009CAD;
		}
		.icon-img {
			width: 50px;
			height: 50px;
		}
		.t-12 {
			font-size: 45px;
		}	
		.t-10 {
			font-size: 30px;
		}	
		.t-6 {
			font-size: 20px;
		}
}
.centrar {
				  display: flex;
					min-height: 100%;
					min-width: 100%;
  justify-content: center;
  align-items: center;
}


/* Colores */
.t-blanco {
	color: #fff;
}
