@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700);

/* ICON STYLES - ICON FROM: http://fontastic.me/
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
    font-family: "untitled-font-1";
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.eot");
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.eot#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.ttf") format("truetype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.svg#untitled-font-1") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:after, [class*=" icon-"]:after {
    font-family: "untitled-font-1";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-up-open-big {
    display: inline-block;
}

.icon-up-open-big:after {
    content: "a";
    font-size: 2.5em;
    display: block;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    color: black;
    -webkit-transition: color .3s;
    transition: color .3s;
}

.icon-up-open-big:hover:after {
    color: white;
}

.scroll-icon {
    position: absolute;
    left: 50%;
    bottom: 30px;
    padding: 0 10px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}


/* HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.l-left {
    float: left;
}

.centrar {
    justify-content: center;
    text-align: center;
}

.l-right {
    float: right;
}
.img-titulo {
  background: url('../images/logo-h-1.png') no-repeat center / cover;
  height: 5vh;
  position: relative;
  top: 0.5vh;
  width: 40vh;
  margin: 0 auto;
  display: inline-block;
}

.end {
    margin-top: 30px;
    font-size: 3em;
    font-weight: bold;
    opacity: 0;
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
    -webkit-transition: opacity, -webkit-transform 1s;
    transition: opacity, -webkit-transform 1s;
    transition: opacity, transform 1s;
    transition: opacity, transform 1s, -webkit-transform 1s;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
}


/* RESET-GENERAL STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans', Arial, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    color: black;
    letter-spacing: .18em;
    transition: all 1000ms;
    will-change: background;
}

a {
    text-decoration: none;
    color: white;
}

ul, li {
    list-style-type: none;
}


/* NAV STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header-top {
    background: rgba(0, 47, 77, .3);
    height: 7vh;
    padding: 0 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 12;
    box-sizing: border-box;
    transition: all 1000ms;
    will-change: background;
}
.logo-menu {
    padding-top: 5px;
    width: auto;
    height: 5vh;
}
.toggle-menu {
    width: 5vh;
    height: 5vh;
    display: inline-block;
    position: relative;
    top: 5px;
}

.toggle-menu i {
    position: absolute;
    display: block;
    height: 0.35vh;
    background: white;
    width: 4vh;
    left: 0.5vh;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.toggle-menu i:nth-child(1) {
    top: 1.4vh;
}

.toggle-menu i:nth-child(2) {
    top: 2.7vh;
}

.toggle-menu i:nth-child(3) {
    top: 3.9vh;
}

.open-menu i:nth-child(1) {
    top: 2.5vh;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.open-menu i:nth-child(2) {
    background: transparent;
}

.open-menu i:nth-child(3) {
    top: 2.5vh;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}
.btn-slide {
  margin-top: 10vh !important;
}
.menufullpage {
  position: fixed;
  overflow: hidden;
right: 0;
  height: 0vh;
  width: 100%;
  z-index: 13;
  top: 7vh;
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: 0.8;
}

.menufullpage.open {
  height: 93vh;
}

.menufullpage > .menuitem {
  display: block;
}

/* SECTION STYLES - fullPage.js
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section {
    text-align: center;
    /*background: url('https://unsplash.it/1910/1221?image=626') no-repeat center / cover;*/
}

h2 {
    text-transform: lowercase;
    font-size: 4em;
    margin-bottom: 20px;
}

h3 {
    font-weight: 300;
    font-size: 2.8em;
}


/* SLIDENAV STYLES - fullPage.js
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: white;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
}

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: transparent;
    box-sizing: border-box;
    border: 1px solid #24221F;
}


/* MQ STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 767px) {
    nav ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    nav li {
        margin-top: 1px;
    }
    nav li a {
        font-size: 1.5em;
    }
    .scroll-icon {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 50%;
    }
    .open-menu~nav {
        padding: 20px 0;
    }
    nav li a {
        padding: 3px;
    }
}

.fp-viewing-index {
    background: #00ACB9;
}

.fp-viewing-index>header>.header-top {
    background: #FFB12A !important;
}

.fp-viewing-servicios {
    background: #FFB12A;
}

.fp-viewing-servicios>header>.header-top {
    background: #000727 !important;
}

.fp-viewing-shows {
    background: #00ADE5;
}
.fp-viewing-shows>header>.header-top {
    background: #FFCB28 !important;
}
.fp-viewing-instalaciones {
    background: #00B63E;
}

.fp-viewing-blog {
    background: #8516A0;
}

.fp-viewing-contacto {
    background: #8516A0;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}



.fp-tableCell {
    vertical-align: bottom !important;
}

.col-bottom {
    padding-bottom: 0 !important;
}

.titulo1 {
    color: #fff;
    font-size: 5em;
    font-weight: bolder;
    text-align: left;
}

.texto1 {
    color: #fff;
    font-size: 1.8em;
    font-weight: bold;
    text-align: left;
}

.mini {
    font-size: 1em;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    background: #E24448;
    padding: 6px 12px 6px 12px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    text-decoration: none;
}

@media (max-width: 767px) {
    header {
        margin-top: 35px;
    }
}

.bg-patron {
    background: url(../images/bgpatron.png) no-repeat center / cover;
}

.fp-table {
    vertical-align: middle:
}
